<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isaacjschroeder.discotron">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/discotron_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/discotron_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Discotron">
        <activity android:name=".controllers.GameDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".controllers.GameCreateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.GamePlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.GameListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.CourseDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.CourseAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".controllers.CourseListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.PlayerDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.PlayerAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.PlayersListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controllers.MainMenuActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>